<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="bg-secondary text-white footer">
        <div class="row footer_links">
            <div class="col-sm-4">
                <span class="text-muted">Footer template</span>

            </div>
            <div class="col-sm-4">
                <a href="/" class="text-white">Home </a>
                <a href="/" class="text-white">Home </a>

                <a href="/" class="text-white">Home </a>

            </div>
            <div class="col-sm-4">
                <a href="/" class="text-white">Home </a>

                <a href="/" class="text-white">Home </a>

                <a href="/" class="text-white">Home </a>

            </div>

        </div>

    </div>
</footer>