<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script>

        function addFields(){
            var container = document.getElementById("ingredientslist");
            var increased =0;
            for (let i = 0; i < 5 ; i++) {
                increased++;

                container.appendChild(document.createElement("br"));
                // Append a node with a random text
                container.appendChild(document.createTextNode("Ingredient: "));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "ingredient";
                input.id = "ingredient";
                container.appendChild(input);



                // Append a line break
                container.appendChild(document.createElement("br"));

            }
        }</script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <form action="/filters" id="ingredientslist" method="post">
        <label for="ingredient">Name of Filter: </label>
        <br>
        <input id="name" type="text" name="name" value="">

        <input type="submit" value="Create filter">
        <br>


    </form>
    <a href="#" id="addfield" onclick="addFields()">Add more ingredients</a>

    <div class="page-header text-center">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/recipelist" class="btn btn-default btn-sm">View own Recipes</a>
        <a href="/recipelistall" class="btn btn-default btn-sm">View others Recipes</a>
        <a href="/recipe/random" class="btn btn-default btn-sm">All random recipe</a>


    </div>


</div>

</div>
</body>
</html>