<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials %>
</head>

<body>

<% include partials %>


<!-- Insert Body here -->
<main role="main" class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</main><!-- /.container -->

<% include partials %>

<!--
<% include partials %>
-->
</body>
</html>