<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link  rel="stylesheet" href="/styles.css">
    <!-- Latest compiled and minified CSS bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/random_recipe.js">
    </script>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>


</head>
<body>
<div class="p-3 mb-2 bg-light text-muted recipe_random_something" style="padding: 100px">

    <!--Top row-->
    <div class="row">
        <div style="display:inline-block"><img src="/foodthinking.png"></div>
        <div style="display:inline-block"><h1>Hva skal vi spise?</h1>
        <h3>En fed inspirations kilde</h3>
        </div>
    </div>
    <div class="row">
        <!--First Column with picture-->

        <div class="col-sm-5">

<img src="/Good_Food_Display.jpg" id="recipe_picture" class="recipe_picture">



        </div>


        <!--Second Column recipe-->

        <div class="col-sm-5 bg-white">

<div id="recipe_list">
    <row>
        <table style="width:100%" id="recipe_table">
            <tr>
                <th>Opskrift Navn</th>
            </tr>
        </table>

    </row>


</div>
<div id="filter_list">
<h3>List of filters</h3>

</div>

<div id="tag_list">
    <h3>List of tags</h3>


</div>
<a href="/recipe" class="btn btn-default">Back to Create a recipe</a>

<button class="btn btn-default" id="random_recipe_button">Get New random Recipe</button>
        </div>
    </div>
    <hr>
    <!--Comments-->

    <div class="row">
        <div class="col-sm-4">
            <p>Det er ofte svært at finde gode mad ideer</p>

        </div>
        <div class="col-sm-4">
            <p>Det er ofte svært at finde gode mad ideer</p>

        </div>

    </div>

    <hr>
<div class="row">

    <img src="/burger-chips-dinner.jpg" id="food_picture" class="food_picture">

</div>
</div>
</body>
<% include ./partials/footer.ejs %>

</html>