<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {
            $.post("random/", function(data, status){
                $("#recipe_list").append("<a href=/recipe/single?recipe="+data+ " class='btn btn-default' id='random_recipe'>"+data+ "</a>");
            });
            var filtercount =1;
            $.post("/filters/viewall", function(data, status){
                data.forEach(function(element) {
                    $("#filter_list").append("<label for='filter'>"+element+ "</label> <br>"+" <input type='checkbox' id='filter"+filtercount+"' name='filters' value='"+element+"'> <br>");
                    filtercount++;
                });
            });

            var tagcount =1;
            $.post("/tag/viewall", function(data, status){
                data.forEach(function(element) {
                    $("#filter_list").append("<label for='tag'>"+element+ "</label> <br>"+" <input type='checkbox' id='tag"+tagcount+"' name='tags' value='"+element+"'> <br>");
                    tagcount++;
                });
            });

            $("#random_recipe_button").click(function() {
                var filters =[]
                for (let i = 1; i < filtercount; i++) {
                    var filterselect=$("#filter"+i)
                    if(filterselect.is(":checked")){
                        filters.push( filterselect.val());
                    }
                     
                }

                var tags =[]

                for (let i = 1; i < tagcount; i++) {
                    var tagselect=$("#tag"+i)
                    if(tagselect.is(":checked")){
                        tags.push( tagselect.val());
                    }

                }
                //var filter1 = $("#filters").is(":checked")
                console.log(filters);
                console.log(tags);

                $.post("random/",{ filters: filters, tags:tags }, function(data, status){
                    $("#random_recipe").remove();
                    $("#recipe_list").append("<a href=/recipe/single?recipe="+data+ " class='btn btn-default' id='random_recipe'>"+data+ "</a>");
            });
            });
        });
    </script>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>


</head>
<body>
<div>
    Recipe list



</div>

<div id="recipe_list">
    <row>
        <table style="width:100%" id="recipe_table">
            <tr>
                <th>Opskrift Navn</th>
            </tr>
        </table>

    </row>


</div>
<div id="filter_list">


</div>
<a href="/recipe" class="btn btn-default">Back to Create a recipe</a>

<button class="btn btn-default" id="random_recipe_button">Get New random Recipe</button>



</body>
</html>